.no-meals-here {
  text-align: center;
}

.meal {}

.meal .meal__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.meal .meal__meta a:hover {
  text-decoration: none;
}

.btn-add-new-meal {
  position: fixed;
  bottom: 20px;
  right: 20px;
}