.no-meals-here {
  text-align: center;
}

.meal {}

.meal .meal__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.meal .meal__meta a:hover {
  text-decoration: none;
}

.btn-add-new-meal {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn-info:not(.btn-link):not(.btn-flat) {
 background-color: #a3a9f7;
}

.clean-calendar .btn:not(.btn-link):not(.btn-flat), .btn-default:not(.btn-link):not(.btn-flat) {
  margin: 0;
  padding: 0;
}

.clean-calendar > table .text-info {
  color: #1655db;
}
