<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <div class="meal">
        <div class="meal__meta">
          <a href="/+{{ meal.eater.username }}">
            +{{ meal.eater.username }}
          </a>
        </div>
          <div class="meal__name">
              <strong>Name: </strong>{{ meal.name }}
          </div>
        <div class="meal__description">
          <strong>Description: </strong>{{ meal.description }}
        </div>
          <div class="meal__calories">
              <strong>Calories: </strong> {{ meal.calories }}
          </div>
      </div>
    </div>
  </div>
</div>