<div class="row">
    <div class="col-sm-offset-1" rg-range-picker="vm.dateTimeRange" ng-show="vm.dateTimeRange" labels="vm.dateTimeLabels"></div>
    <p class="col-sm-10 col-sm-offset-1 well" id="calorieTargetMessage"
        ng-class="{greenCalories: vm.targetCaloriesForPeriod > vm.visibleCalories, redCalories: vm.targetCaloriesForPeriod <= vm.visibleCalories}">
        {{ profile.username }}'s calories in interval: {{ vm.visibleCalories }};
        Target Calories For Visible Period: {{ vm.targetCaloriesForPeriod | number: 0}};
        Daily Calorie Target: <a href="/+{{ vm.profile.username }}/settings">{{  vm.dailyCalorieTarget }} (update in settings)</a>
    </p>

    <div class="col-xs-12" ng-show="vm.visibleMeals && vm.visibleMeals.length">
        <div ng-repeat="meal in vm.column">
            <meal meal="meal"></meal>
        </div>
    </div>

    <div ng-hide="vm.visibleMeals && vm.visibleMeals.length">
        <div class="col-sm-12 no-meals-here">
            <em>No meals to show here yet.</em>
        </div>
    </div>
</div>


