<div class="row" ng-cloak>
<div  rg-range-picker="vm.dateTimeRange" labels="vm.dateTimeLabels"></div>
    <!--
    <div style="margin-top:10px" class="form-horizontal">
        <pre>Start Period:</pre>
        <label for="meal__meal_date">Date of Meal</label>
        <input type="text"
               id="meal__start_date"
               datepicker-popup="dd-MMMM-yyyy"
               ng-model="vm.date" is-open="vm.opened"
               min="vm.minDate"
               show-weeks="false"
               datepicker-options="vm.dateOptions"
               date-disabled="vm.disabled(date, mode)"
               ng-required="true"
                />
        <button class="btn" type="button" ng-click="vm.open()"><i class="glyphicon glyphicon-calendar"></i></button>
        <label for="meal__meal_date">Time of Meal</label>
    <timepicker ng-model="vm.time" ng-change="vm.changed()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian"></timepicker>
    </div>
    <div style="margin-top:10px" class="form-horizontal">
        <pre>End Period:</pre>
        <label for="meal__meal_date">Date of Meal</label>
        <input type="text"
               id="meal__end_date"
               datepicker-popup="dd-MMMM-yyyy"
               ng-model="vm.date" is-open="vm.opened"
               min="vm.minDate"
               show-weeks="false"
               datepicker-options="vm.dateOptions"
               date-disabled="vm.disabled(date, mode)"
               ng-required="true"
                />
        <button class="btn" type="button" ng-click="vm.open()"><i class="glyphicon glyphicon-calendar"></i></button>
        <label for="meal__meal_date">Time of Meal</label>
    <timepicker ng-model="vm.time" ng-change="vm.changed()" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="vm.ismeridian"></timepicker>
    </div>
-->
    <div ng-repeat="column in vm.columns">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div ng-repeat="meal in column">
          <meal meal="meal"></meal>
      </div>
    </div>
  </div>

  <div ng-hide="vm.columns && vm.columns.length">
    <div class="col-sm-12 no-meals-here">
      <em>The are no meals here.</em>
    </div>
  </div>
</div>