<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>

        <div class="well">
            <form role="form" name="form" novalidate ng-submit="vm.register()">
                <div class="form-group">
                    <label for="register__email">Email</label>
                    <input type="email" class="form-control" name="uEmail" id="register__email" ng-model="vm.email" placeholder="ex. john@notgoogle.com" ng-required="true" ng-model-options="{ updateOn: 'blur' }"/>
                    <div ng-show="form.$submitted || form.uEmail.$touched">
                        <span class='error-message' ng-show="form.uEmail.$error.required">Tell us your email.</span>
                        <span class='error-message' ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="register__username">Username</label>
                    <input type="text" class="form-control" name="uUsername" id="register__username" ng-model="vm.username" placeholder="ex. john" ng-required="true" ng-model-options="{ updateOn: 'blur' }"/>
                    <div ng-show="form.$submitted || form.uUsername.$touched">
                        <div class='error-message' ng-show="form.uUsername.$error.required">Please enter a username.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="register__password">Password</label>
                    <input type="password" name="uPassword" class="form-control" id="register__password" ng-model="vm.password" placeholder="ex. greatpass1" ng-required="true" minlength="6"/>
                    <div ng-show="form.$submitted || form.uPassword.$touched">
                        <span class='error-message' ng-show="form.uPassword.$error.required">Please enter a password.</span>
                        <span class='error-message' ng-show="form.uPassword.$error.minlength">Your password must be at least 6 characters</span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>